<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body class="hold-transition skin-purple sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/images/no-bugs.png" height="45" /></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
               
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        
                        <!-- User Account -->
                        @Html.Partial("_LoginPartial")
                        <!------------------->
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- No user logged in, so omit left navigation panel -->
        @* @{Html.RenderAction("UserInfo", "Home");}  *@
        <!-- =============================================== -->
        <!-- Content Wrapper.Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header(Page header) -->
            <section class="content-header">
                <h1>
                    Page Header
                    <small>it all starts here</small>
                </h1>
                
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">@ViewBag.Title</h3>
                       
                    </div>
                    <div class="box-body">
                        @RenderBody()
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        Footer
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

      
    </div>
    <!-- ./wrapper -->
    <!-- ***** Original version below**** -->
    @*<body>*@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type = "button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BugTracker", "Index", "Projects", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                    <li>@Html.ActionLink("My Projects", "Index", "Projects")</li>
                    @if(User.IsInRole("Administrator") || User.IsInRole("ProjectManager"))
                    {
                        <li>@Html.ActionLink("All Projects", "AllIndex", "Projects")</li>
                    }

                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@@*
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Tracy Bragdon</p>
            </footer>
        </div>*@

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @Scripts.Render("~/bundles/adminlte")
                    @RenderSection("scripts", required: false)
                </body>
            </html>

