<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css1")
    @Styles.Render("~/Content/css2")

    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Freckle+Face|Ravi+Prakash|Slackey" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body class="hold-transition skin-purple sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/images/no-bugs.png" height="25" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg logo-font"><img src="~/images/no-bugs.png" height="25" /> BugTracker</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
               
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        
                        <!-- User Account -->
                        @Html.Partial("_LoginPartial")
                        <!------------------->
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- No user logged in, so omit left navigation panel -->
        @* @{Html.RenderAction("UserInfo", "Home");}  *@
        <!-- =============================================== -->
        <!-- Content Wrapper.Contains page content -->
        <div class="content-wrapper full-width">
            <!-- Content Header(Page header) -->
            @*<section class="content-header">
                <h1>
                    Page Header
                </h1>
            </section>*@

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-body">
                        @RenderBody()
                    </div>    <!-- /.box-body -->
                    <!--- Footer -->
                    @*<div class="box-footer">
                        Footer
                    </div>*@    <!-- /.box-footer-->
                </div>      <!-- /.box -->
            </section>    <!-- /.content -->
        </div>      <!-- /.content-wrapper -->
      
    </div>   <!--  wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")
    @RenderSection("scripts", required: false)

</body>
</html>

