<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css1")
    @Styles.Render("~/Content/css2")

    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Freckle+Face|Ravi+Prakash|Slackey" rel="stylesheet">

    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
@{ var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString(); }
<body class="hold-transition skin-purple sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/images/no-bugs.png" height="25" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg logo-font">BugTracker</span>
            </a>
            
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href = "#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        
                        <!-- User Account -->
                        @Html.Partial("_LoginPartial")
                        <!------------------->
                       
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href = "#" data-toggle="control-sidebar"><i class="fa fa-bell"></i>
                                <span class="label label-danger">@BugTracker.Models.NotificationsHelper.notificationCount()</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
         @{Html.RenderAction("UserInfo", "Projects");}
        <!-- =============================================== -->
        <!-- Content Wrapper.Contains page content -->
        <div class="content-wrapper">
           <!----------------------------------> 
           @RenderSection("contentHeader", false)
           <!----------------------------------> 
            <!-- Main content -->
            <section class="content">
                
                @RenderBody()
                   
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        <footer class="main-footer">
           <p class="text-center">BugTracker  &copy; @DateTime.Now.Year - Tracy Bragdon</p>
        </footer>

        <!-- Right Sidebar -->
        @{Html.RenderAction("RtSideBar", "Projects");}

    </div>  <!-- ./wrapper -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/adminlte")
        @RenderSection("scripts", required: false)

   <!-- format ALL data tables by class selector -->
    <script>
        $(document).ready(function(){
            $('.paged-table').DataTable({
                columnDefs: [
                { "width": "20%", "targets": 1 }
                ],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "scrollX": true
            });
        });

       $(document).ready(function(){
           $('.paged-table-desc').DataTable({
               "paging": true,
               "lengthChange": true,
               "searching": true,
               "ordering": true,
               "order": [ 0, 'desc' ], 
               "info": true,
               "autoWidth": false,
               "scrollX": true
           });
       });

        $(document).ready(function () {
            $('#ticket-table').DataTable({
                "nowrap": false,
                "autoWidth": false,
                "columns": [
                        { "orderable": false },
                        { "width": "100px", "className" : "col-100" },
                        { "width": "250px", "className": "col-250" },
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null
                       //{ "width": "40px" },
                       //{ "width": "40px" }
                ],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "order": [1, 'asc'],
                "info": true,
                //"fixedColumns": true,   // to fix leftmost column
                //fixedColumns: { leftColumns: 1 },
                "lengthMenu": [ 5, 10, 25, 50, 75, 100 ],
                "scrollX": true

            })
        });
    </script>

    <script type="text/javascript">
        $(function () {
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#deleteModal');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#deleteModal').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#deleteModal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });

       
    </script>

    </body>
</html>
