@using Microsoft.AspNet.Identity
@using BugTracker.Models

@if (Request.IsAuthenticated)
{
   
    <!-- Left side column.contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">  
                    @if (ViewBag.user.ProfileIcon != null)
                    {
                        @*<img src="~/images/no-bugs.png" class="img-circle" alt="User Image" />*@
                        <span class="profile-icon" style="background-color:@ViewBag.user.ProfileColor" alt="User Initials">@ViewBag.user.ProfileIcon</span>
                    }
                </div>
                <div class="pull-left info">
                    <p>@ViewBag.user.DisplayName</p>
                     <ul class="small">
                        @foreach (var role in @ViewBag.roles)
                        {  
                             <li>@role</li>
                        }
                     </ul>           
                    <p></p>
                    @*<a href="#"><i class="fa fa-circle text-success"></i>Online</a>*@
                </div>
            </div>
            <!-- search form -->
            @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

                <!-- Dashboard menu -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Projects")">
                                <i class="fa fa-circle-thin"></i>Dashboard
                            </a>
                        </li>
                        @if (User.IsInRole("ProjectManager") && (!User.IsInRole("Administrator")))
                        {
                            <li>
                                <a href="@Url.Action("AllIndex", "Projects")">
                                    <i class="fa fa-circle-thin"></i>Project Manager Dashboard
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                                <!-- Projects Index -->
                                <li>
                                    <a href="@Url.Action("AllIndex", "Projects")">
                                        <i class="fa fa-circle-thin"></i>All Projects
                                    </a>
                                </li>

                                <!-- Tickets Index -->
                                <li>
                                    <a href="@Url.Action("Index", "Tickets")">
                                        <i class="fa fa-circle-thin"></i>All Tickets
                                    </a>
                                </li>

                                <!-- User & User Roles Index -->
                                <li>
                                    <a href="@Url.Action("Index", "Admin")">
                                        <i class="fa fa-circle-thin"></i>Users and Roles
                                    </a>
                                </li>
                        }
                    </ul>    
                </li>

                <!-- Projects menu -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Projects</span>
                        <span class="pull-right-container">
                            <span class="label label-info pull-right">@ViewBag.user.AssignedProjects.Count</span>
                        </span>
                    </a>

                        <ul class="treeview-menu">
                            @if (User.IsInRole("Administrator") || (User.IsInRole("ProjectManager")))
                            {
                                <li>
                                    <a href="@Url.Action("Create", "Projects")">
                                        <i class="fa fa-plus-circle text-aqua"></i>  Add New Project
                                    </a>
                                </li>
                            }
                            @foreach (var p in ViewBag.user.AssignedProjects)
                            {
                                <li>
                                    <a href="@Url.Action("Details", "Projects", new {id=p.Id })">
                                        <i class="fa fa-dot-circle-o text-aqua"></i>@p.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                <!-- Tickets menu-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th"></i> 
                        <span>Tickets</span>
                        <span class="pull-right-container">
                            <span class="label pull-right bg-green">@ViewBag.AllTickets.Count</span>
                        </span>
                    </a>
                    <!-- TODO: complete for Tickets -->
                    <ul class="treeview-menu">
                        @foreach (var t in ViewBag.AllTickets)
                        {
                            <li><a href="@Url.Action("Details", "Tickets", new {id=t.Id })">
                                 <i class="fa fa-circle-o"></i>@t.Title
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <!-- Notifications menu -->
                <li class="treeview">
                    <a href="@Url.Action("Index", "TicketNotifications")">
                        <i class="fa fa-bell"></i>
                        <span>Notifications</span>
                        <span class="pull-right-container">
                            <span class="label pull-right btn-danger">@ViewBag.user.Notifications.Count</span>
                        </span>
                    </a>
                </li>

                <!--- History Menu -->
               @* Omit History from Navigation menu for now as Histories are associated with a ticket and
                * are not meaningful to list randomly.  
                *@
                @*<li class="treeview">
                    <a href="@Url.Action("Index", "TicketHistories")">
                        <i class="fa fa-clock-o "></i>
                        <span>Activity History</span>
                        <span class="pull-right-container">
                                <span class="label pull-right btn-primary">@ViewBag.user.ChangesHistory.Count</span>
                            </span>     
                    </a>
                </li>*@

            </ul> <!-- end sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

}