@model BugTracker.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
               
                <div id="socialLoginList" class="social-auth-links text-center">
                    <p>- OR -</p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (@p.AuthenticationType == "Microsoft")
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" class="btn btn-block btn-social btn-microsoft btn-flat">
                                <i class="fa fa-windows"></i> Sign in using Microsoft
                            </button>

                        }
                        if (@p.AuthenticationType == "Google")
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" class="btn btn-block btn-social btn-google btn-flat">
                                <i class="fa fa-google-plus"></i> Sign in using Google+
                            </button>
                        }
                        else if (@p.AuthenticationType == "Facebook")
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" class="btn btn-block btn-social btn-facebook btn-flat">
                                <i class="fa fa-facebook"></i> Sign in using Facebook
                                </button>

                        }
                        
                    }
            </div>
            }
        }

}
<!-- /.social-auth-links -->