@using BugTracker.Models
@model LoginViewModel

    
    @*<body class="hold-transition login-page">*@
        <div class="box login-box box-purple">
            <div class="login-logo">
                <a href="@Url.Action("Index", "Home")"><b>BugTracker</b></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox">
                               @Html.CheckBoxFor(m => m.RememberMe)
                               @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
 
                <div class="col-md-12">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
                <div class="register-box-msg">
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                </div>
            </div>   <!-- /.login-box-body -->
        </div>    <!-- /.login-box -->
        
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}