@model BugTracker.Models.RegisterViewModel

<div class="box register-box box-purple">
    <div class="register-logo">
        <b>Register</b><br />
        for BugTracker
    </div>
    <!-- /.register-logo -->
    <hr />
    <div class="register-box-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
            </div>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.DisplayName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Name to Display" })
            </div>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    @*<input type="submit" class="btn btn-default" value="Register" />*@
                </div>
            </div>
        }
    </div>   <!-- /.register-box-body -->
</div>    <!-- /.register-box -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


