@model BugTracker.Models.UserProfileViewModel
@{
    ViewBag.Title = "Profile Details";
}

<h2>@ViewBag.Title</h2>



<h4>Your Profile</h4>
<hr />

@if (!string.IsNullOrEmpty(Model.ProfileImage))
{
    <img src="@Url.Content(Model.ProfileImage)" class="col=md-2 img-thumbnail img-responsive  profile-user-img" />
}
else
{
    <div class="profile-icon" style="background-color:@Model.ProfileColor">@Model.ProfileIcon</div>
}

<dl class="dl-horizontal">
   
   
     <dt>
        @Html.LabelFor(m => m.FirstName)
     </dt>
     <dd>
        @Html.DisplayFor(m => m.FirstName)
     </dd>

    <dt>
        @Html.LabelFor(m => m.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.LastName)
    </dd>

    <dt>
        @Html.LabelFor(m => m.DisplayName)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.DisplayName)
    </dd>

   
    <dt>
        @Html.LabelFor(m => m.Email)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Email)
    </dd>
  </dl>


@Html.ActionLink("Update Profile", "ProfileEdit") |
@Html.ActionLink("Back to Project List", "Index", "Projects")


